<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="LicenciasCH_Entities" connectionString="metadata=res://*/Contexto.LicenciasCH.csdl|res://*/Contexto.LicenciasCH.ssdl|res://*/Contexto.LicenciasCH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.169.3.25;initial catalog=LicenciasCH_QA;user id=sa;password=DC_2022$;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="LicHistoricoEntities" connectionString="metadata=res://*/Contexto.LicenciasCH_Historico.csdl|res://*/Contexto.LicenciasCH_Historico.ssdl|res://*/Contexto.LicenciasCH_Historico.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.169.3.22;initial catalog=LicHistorico;persist security info=True;user id=sa;password=123456Aa;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="RegistroLicenciasChihuahua.Properties.Settings.LicenciasCHConnectionString"
      connectionString="Data Source=10.169.3.25;Initial Catalog=LicenciasCH;Persist Security Info=True;User ID=sa;Password=DC_2022$"
      providerName="System.Data.SqlClient" />
    <add name="RegistroLicenciasChihuahua.Properties.Settings.LicenciasCH_QAConnectionString"
      connectionString="Data Source=10.169.3.25;Initial Catalog=LicenciasCH_QA;User ID=sa;Password=DC_2022$"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>